.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 120px;
  width: max-content;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  background: #000;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #e39710;
  transition: all 0.2s;
  white-space: nowrap;

  &:hover {
    color: #000;
    background: #e39710;
  }
  &:active {
    color: #000;
    background: #e39710;
    transform: scale(0.9);
  }
}
