*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
  background: url(assets/images/bg6.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
}
